* {
  margin: 0;
}
body {
  background-color: black;
}
header {
  background-color: black;
  height: 2em;
}
h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

p {
  color: white;
  text-align: center;
  padding: 5em;
}

form {
  text-align: center;
}

.side {
  width: 3em;
  height: 50em;
  background-color: turquoise;
}

#center {
  width: 100%;
  background-color: black
}

#container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  height: 100%;
}

#bottom {
  height: 3em;
  width: 100em;
  background-color: turquoise;
}
